<!doctype html>
<html lang="en">
<head>
  <base href="http://localhost:5984/couchdb-mailing-lists/_design/couchmail/_rewrite/" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Email archives on the CouchDB">
  <title>CouchMail</title>
  <link rel="stylesheet" href="../../annotator/css/annotator.css">
  <link rel="stylesheet" href="css/pure-min.css">
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="css/email-old-ie.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="css/email.css">
  <!--<![endif]-->
  <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
  <![endif]-->
  <style type="text/css">
  .email-item {cursor:pointer}
  .email-item:hover {background: #EEE}
  </style>
</head>
<body>


  <div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
          <div class="pure-menu pure-menu-open">
            <ul>
              <li><a href="/" class="pure-menu-heading">Latest</a></li>
            </ul>
            <year-list v-ref="years"></year-list>
          </div>
        </div>
    </div>

    <div id="list" class="pure-u-1">
      <div v-if="has_search" class="email-item pure-g">
        <form class="pure-form" method="GET">
            <input name="q" value="{{qs.q}}" placeholder="Search" type="text" class="pure-input-rounded">
        </form>
        <p v-repeat="results" class="pure-u">
          <span class="email-name">{{total_rows}} Search Results</span>
          <a v-if="qs" href="?">clear</a>
        </p>
      </div>

      <email-item v-repeat="email: emails"></email-item>
    </div>

    <div id="main" class="pure-u-1">
      <email-message v-with="message"></email-message>
    </div>
  </div>

  <script src="js/bundle.js"></script>
  <!-- TODO: stop double loading pouchdb.js -->
  <script src="../../annotator/pouchdb.js"></script>
  <script src="../../annotator/annotator.js"></script>
  <script src="../../annotator/annotator-pouchdb.js"></script>
  <script>
    var Annotator = require('annotator');
    var PouchDBStorage = require('annotator-pouchdb').PouchDBStorage;
    var db = new PouchDB(location.protocol + '//' + location.hostname + ':'
        + location.port + '/' + location.pathname.split('/')[1]);
    var elem = document.getElementById('main');
    var anno = new Annotator(elem);
    var annotations = [];
    var Hi = new Annotator.UI.Highlighter();

    anno.addPlugin(function() {
      return {
        onBeforeAnnotationCreated: function(annotation) {
          annotation.uri = decodeURIComponent(CouchMail.message_id);
        },
        onAnnotationsLoaded: function(anns) {
          annotations = anns;
        }
      }
    });
    anno.setStorage(function() {
      var ddoc = {
        _id: '_design/annotator',
        views: {
          annotations: {
            map: function(doc) {
              if ('uri' in doc && 'ranges' in doc) {
                emit(doc.uri, 1);
              }
            }.toString()
          }
        }
      };
      db.put(ddoc)
        .catch(function(err) {
          // likely this is "just" a conflict...
          // TODO: if the ddoc changes, make this work
          console.error(err);
        });
      return new PouchDBStorage(db);
    });
    CouchMail.$watch('message_id', function() {
      Hi.undrawAll(annotations.results);
      anno.registry.annotations.load({key: decodeURIComponent(CouchMail.message_id)});
    });
  </script>

</body>
</html>
