<script src="/js/vue.min.js"></script>
<script type="text/javascript">
var main = new Vue({
  el: '#main',
  data: {
  {{#message_id}}message_id: "{{{.}}}"{{/message_id}}
  },
  created: function () {
    this.$watch('message_id', function () {
      this.fetchData();
    });
  },
  methods: {
    fetchData: function() {
      var xhr = new XMLHttpRequest(),
          self = this;
      xhr.open('GET', self.message_id);
      xhr.setRequestHeader('Accept', 'application/json');
      xhr.onload = function () {
        self.message = JSON.parse(xhr.responseText);
      }
      xhr.send();
    }
  }
});
Vue.component('email-item', {
  computed: {
    selected: {
      $get: function() {
        return main.message_id == this.$el.dataset.href;
      }
    }
  },
  methods: {
    loadMessage: function(e) {
      main.message_id = e.targetVM.$el.dataset.href;
    }
  }
});
var list = new Vue({
  el: '#list'
});
</script>
</body>
</html>
