<div v-if="message" class="email-content">
    <div class="email-content-header pure-g">
        <div class="pure-u-1">
            <h1 class="email-content-title" v-text="message.subject">{{message.subject}}</h1>
            <p class="email-content-subtitle">
                From <a v-text="message.from">{{message.from}}</a> at <span v-text="message.date">{{message.date}}</span>
            </p>
        </div>
    </div>

    <div class="email-content-body">
      <pre v-text="message.message">
      {{message.message}}
      </pre>
    </div>
</div>
