{{#years}}
<ul>
  {{#rows}}
  <li {{#months}}class="pure-menu pure-menu-open"{{/months}}>
    <a href="/{{year}}/{{#qs}}?q={{q}}{{/qs}}" class="pure-menu-heading">
      {{year}}
      <span class="email-count">({{value}})</span></a>

    {{> months}}
  </li>
  {{/rows}}
</ul>
{{/years}}
